@import "src/css/var";

.section {
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  position: absolute;
  background-color: $white;
  box-shadow: 0 0 10px 0 $gray;
}

.menu {
  max-width: 1200px;
  height: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.link {
  text-decoration: none;
  color: $light-gray;

  &:not(.active):hover {
    color: $middle-gray
  }
}

.active {
  $self_active: &;
  color: $black;
}

.items {
  display: flex;
  padding: 0;
}

.item {
  list-style-type: none;

  &:nth-child(n+2) {
    margin-left: 16px;
  }
}

.visible {
  transform: translateY(100%);
}

@media #{$not-desktop} {
  .section {
    padding: 10px;
    height: 48px;
  }
}