@import 'src/css/var';

.section {
  width: 100%;
  max-width: 100%;
  //min-width: 320px;
  background-color: $white;
  height: 150px;
  padding: 10px;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  gap: 24px;
}

.contacts {
  display: flex;
  padding: 0;
  gap: 16px;
  list-style-type: none;
  margin: 0;
}

.menu {
  @extend .contacts;
  flex-direction: column;
}

.link {
  text-decoration: none;
}