$white: #fff;
$black: #000;
$red: #ff0000;
$gray: #808080;

$middle-gray: #949494;

$light-white: #f5fffa;
$light-gray: #bebebe;

$phone: '(max-width: 767px)';
$phone-min: '(min-width: 320px)';
$tablet: '(max-width: 1199px)';
$tablet-min: '(min-width: 768px)';
$desktop: '(min-width: 1200px)';
$only-tablet: '(max-width: 1199px) and (min-width: 768px)';
$only-desktop: '(min-width: 1200px)';
$not-phone: '(min-width: 768px)';
$not-desktop: '(max-width: 1200px)';