@import 'src/css/var';

.section {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  padding: 68px 0 0;
  min-height: calc(100vh - 150px);
}

@media #{$not-desktop} {
  .section {
    margin: 0 0;
    padding: 48px 8px 8px;
  }
}